
<%= react_component("ShowItem", { item: @item }) %>

<!--<h1><%#= @item.name %></h1>-->

<!--<ul>-->
<!--  <li><%#= @item.description %></li>-->
<!--  <li><%#= @item.price %> grn.</li>-->
<!--</ul>-->
<%#= link_to "Back", :back, class: "btn btn-outline-danger" %>


