
<%= react_component("UserList", { users: @users }) %>

<!--<ul class="list-group list-group-flush">-->
  <%# @users.each do |i| %>
<!--    <li class="list-group-item">-->
<!--      <div class="container-fluid">-->
<!--        <div class="row">-->
<!--          <div class="col-8 start">-->
<!--            <h2 class="card-title"><%#= "#{i.first_name} #{i.last_name}" %></h2>-->
<!--            <p class="card-text"><%#= i.email %></p>-->
<!--            <p class="text-muted"><%#= i.role %></p>-->
<!--          </div>-->
<!--          <div class="col-4 align-self-center text-end">-->
            <%#= link_to "Edit", show_user_path(i), class: "btn btn-outline-success" %>
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="card-footer text-muted">-->
<!--        Create: <%#= i.created_at.to_date.strftime("%d %B %Y") %>-->
<!--        | Last update: <%#= i.updated_at.to_date.strftime("%d %B %Y") %>-->
<!--      </div>-->
<!--    </li>-->

  <%# end %>
<!--</ul>-->